Repository jteppinette/dot-files: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, nix flake check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:

      - id: nixfmt
        name: nixfmt
        language: system
        entry: nixfmt --verify
        types_or: [nix]

      - id: stylua
        name: stylua
        language: system
        entry: stylua --verify
        types_or: [lua]

      - id: shfmt
        name: shfmt
        language: system
        entry: test ! -n "$(shfmt --write --list)"
        types_or: [sh]

      - id: nix flake check
        name: nix flake check
        language: system
        entry: nix flake check --all-systems --impure
        files: '^flake.lock$|^\.nix$'
        pass_filenames: false

Cleanup nvim conform and add go lsp
  .pre-commit-config.yaml
  nvim.lua
Due: none

Add javascript to to sw=2 sts=2 et override
  nvim.lua
Due: none

Add hostname to tmux status line
  home.nix
Due: nixfmt

nvim: Add conform toggles
  nvim.lua
Due: none

Update formatters
  home.nix
  nvim.lua
Due: nixfmt

Add nix-index
  home.nix
Due: nixfmt

Add nvim filetype overrides
  nvim.lua
Due: none

Add references
  README.md
Due: none

Add another reference
  README.md
Due: none

Add nix darwin
  darwin.nix
  flake.lock
  flake.nix
  home.nix
  sync.sh
Due: nixfmt, nix flake check

Increase size stats of linux builder
  darwin.nix
Due: nixfmt

Make nix darwin use sandbox nix
  darwin.nix
Due: nixfmt

Add storage optimization
  darwin.nix
Due: nixfmt

Add rename program
  home.nix
Due: nixfmt

Add typescript to filetype autocmd
  nvim.lua
Due: none

Update git config
  home.nix
Due: nixfmt

Add more utilities
  home.nix
Due: nixfmt

Remove du alias
  home.nix
Due: nixfmt

Add toml autocmd
  nvim.lua
Due: none

Add filetype to custom handling
  nvim.lua
Due: none

Add better quick fix nvim dep
  nvim.lua
Due: none

Temporarily disable sandbox due to issues in nix
  sync.sh
Due: none

Add phpactor lsp and procps for watch
  home.nix
Due: nixfmt

Add basic nvim php integration
  nvim.lua
Due: none

Add editor haskell support
  home.nix
  nvim.lua
Due: nixfmt

Improve haskell integration to nvim
  nvim.lua
Due: none

Add more haskell and lisp stuff
  nvim.lua
Due: none
